
<div class="row">
  <div class="large-12 columns">
  <h1>Weather</h1>
  </div>
</div>
<div class="row">
  <div class="large-12 columns panel">
    <h3> Welcome </h3>
    <p>This application has been built using the <%= link_to('Yahoo Weather API', 'https://developer.yahoo.com/weather/')%></p>
    <p>Please select your city from the menu above to view the weather information.</p>
  </div>
</div>